<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andy Jones">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48268620-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-48268620-1');
    </script>

    <style>
      html {
        height: 100%;
        width: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
        color: #444;
        width: 100%;
        font-family: sans-serif;
        text-align: center;
      }

      .header {
        font-size: large;
      }

      .stats {
        font-size: x-large;
      }

      .footer {
        font-size: small;
      }

      emph {
        font-weight: bold;
      }
    </style>

    <meta property="og:title" content="Good Judgement's COVID Forecasts">
    <meta property="og:description" content="There will be {{world_cases}} cases and {{world_deaths}} by next April.">
    <meta name="twitter:card" content="summary">

    <title>GJP COVID Estimates</title>
  </head>
  <body>
      <div class="header">
      <p>By next April, it is forecast that COVID-19 will have lead to </p>
      </div>

      <div class="stats">
        <p><emph>{{us_cases}}</emph> cases and <emph>{{us_deaths}}</emph> deaths in the United States</p>

        <p><emph>{{world_cases}}</emph> cases and <emph>{{world_deaths}}</emph> deaths worldwide</p>
      </div>

      <div class="footer">
      <p>These estimates come from averaging the <a href="https://goodjudgment.io/covid/dashboard/">Good Judgement Project's dashboard</a>.</p>
      
      <p>They were last updated on {{pub_date}}</p>.
        
        <p>The Good Judgement Project has <a href="https://aiimpacts.org/evidence-on-good-forecasting-practices-from-the-good-judgment-project/">a track record of producing better, more accurate forecasts than anyone else</a>.</p>
        
        <p>In the face of an exponentially-growing threat, forecasts - while uncertain - are <a href="https://andyljones.com/posts/headlines.html">far more informative than today's case count and death toll</a>.</p>
      </div>
    
  </body>
</html>